<div class="container">

<h1>Hi {{currentUser.firstName}}!</h1>
<p>Welcome to home page!!</p>

<div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>You're logged in with Angular 8 & JWT and Spring Boot!!</p>
        <p>Your role is: <strong>{{currentUser.role.name}}</strong>.</p>
        <p>This page can be accessed by <u>all authenticated users</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="currentUser">
            <li>{{currentUser.firstName}} {{currentUser.lastName}}</li>
        </ul>
    </div>
</div>
</div>