<div class="col-md-6 offset-md-3 mt-5">
    <h3>User Registration</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.firstName.errors }"
                placeholder="Enter First Name here" />
            <div *ngIf="submitted && fval.firstName.errors" class="invalid-feedback">
                <div *ngIf="fval.firstName.errors.required">First Name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Enter Last Name here" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }"
                placeholder="Enter email here" />
            <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                <div *ngIf="fval.email.errors.required">Email is required</div>
                <div *ngIf="fval.email.errors.email">Enter valid email address</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">User Name</label>
            <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.userName.errors }"
                placeholder="Enter User Name here" />
            <div *ngIf="submitted && fval.userName.errors" class="invalid-feedback">
                <div *ngIf="fval.userName.errors.required">User Name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }"
                placeholder="Enter Password here" />
            <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                <div *ngIf="fval.password.errors.required">Password is required</div>
                <div *ngIf="fval.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Position</label>
            <input type="text" formControlName="positionId" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.positionId.errors }"
                placeholder="Position here" />
            <div *ngIf="submitted && fval.positionId.errors" class="invalid-feedback">
                <div *ngIf="fval.positionId.errors.required">Position is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Role</label>
            <input type="text" formControlName="roleId" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.roleId.errors }"
                placeholder="Role here" />
            <div *ngIf="submitted && fval.roleId.errors" class="invalid-feedback">
                <div *ngIf="fval.roleId.errors.required">Role is required</div>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
        </div>
    </form>
</div>