
table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }

  /* .highlight {
    color: greenyellow;
    background: rgb(239, 243, 239);
} */

.mat-row:nth-child(odd){
  background: rgb(239, 243, 239);
  }

.mat-row:nth-child(even){
  background-color:white;
  }
/* .end {
    font-size: 40px;
    float: right;
    color:rgb(24, 146, 19);
  } */

  .end{
    float: right;
    color:rgb(24, 146, 19);
  }
 