<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="currentUser">
        <div><a routerLink="/" class="navbar-brand">
          Issue Tracking System</a></div>
  
        <ul class="navbar-nav mr-auto">
            <li  class="nav-item"><a  routerLink="/issue" class="nav-link waves-light">Issues</a></li>
            <li  class="nav-item"><a *ngIf="isAdmin" routerLink="/users" class="nav-link waves-light">Users</a></li>
        </ul>
  
        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li  class="nav-item"><a routerLink="/login" (click)="logout()" class="nav-link waves-light">Logout</a></li>
        </ul>
    </nav>
  </header>