<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="currentUser">
        <div><a routerLink="/" class="navbar-brand">
          Issue Tracking System</a></div>
  
        <ul class="navbar-nav">
            <li><a  routerLink="/issue" class="nav-link">Issues</a></li>
            <li><a *ngIf="isAdmin" routerLink="/register" class="nav-link">Register User</a></li>
        </ul>
  
        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a routerLink="/login" (click)="logout()" class="nav-link">Logout</a></li>
        </ul>
    </nav>
  </header>