<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/issue" *ngIf="isAdmin">Issues</a>
      <a class="nav-item nav-link" routerLink="/register" *ngIf="isAdmin">Register User</a>
      <a class="nav-item nav-link" routerLink="/login" (click)="logout()">Logout</a>
  </div>
  
</nav> -->


<app-menu></app-menu>



<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>